In [3]:
#import dependencies
import pandas as pd
import gmaps
import requests
#import the api key
from config import g_key

In [4]:
#store the csv ypi saved created in part one into a dataframe
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Carnarvon,AU,2022-06-30 04:42:45,-24.8667,113.6333,70.23,32,0,18.50
1,1,Muzhi,RU,2022-06-30 04:42:46,65.3667,64.6667,52.57,52,99,17.18
2,2,Vaini,TO,2022-06-30 04:42:46,-21.2000,-175.2000,80.76,83,75,6.91
3,3,Thompson,CA,2022-06-30 04:42:17,55.7435,-97.8558,48.36,100,40,2.30
4,4,Mata,PT,2022-06-30 04:42:47,40.6830,-7.4592,44.92,95,61,1.63

In [5]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# 1. Assign the locations to an array of latitude and longitude pairs.
#locations = [latitude, longitude]
# 2. Assign the weights variable to some values.
#temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
#fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
#fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
#fig

In [8]:
#get the maximum temps
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat","Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.25)
#assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300,point_radius=4)
#add the heatmap layer.
fig.add_layer(heat_layer)
#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat","Lng"]]
# Get the maximum temperature.
humidity = city_data_df["Humidity"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.25)
#assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300,point_radius=4)
#add the heatmap layer.
fig.add_layer(heat_layer)
#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat","Lng"]]
# Get the maximum temperature.
cloudiness = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.25)
#assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300,point_radius=4)
#add the heatmap layer.
fig.add_layer(heat_layer)
#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat","Lng"]]
# Get the maximum temperature.
wind_speed = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.25)
#assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300,point_radius=4)
#add the heatmap layer.
fig.add_layer(heat_layer)
#call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?70
What is the maximum temperature you would like for your trip?90

In [15]:
#filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"]<= max_temp) & \
                                        (city_data_df["Max Temp"]>= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Carnarvon,AU,2022-06-30 04:42:45,-24.8667,113.6333,70.23,32,0,18.50
2,2,Vaini,TO,2022-06-30 04:42:46,-21.2000,-175.2000,80.76,83,75,6.91
7,7,Guerrero Negro,MX,2022-06-30 04:42:47,27.9769,-114.0611,71.06,78,0,17.11
9,9,Erzin,TR,2022-06-30 04:42:48,36.9559,36.2000,77.67,70,4,2.48
14,14,Mana,GF,2022-06-30 04:42:50,5.6592,-53.7767,72.32,94,100,1.92
17,17,Arraial Do Cabo,BR,2022-06-30 04:41:07,-22.9661,-42.0278,70.52,88,1,19.30
19,19,Sao Filipe,CV,2022-06-30 04:42:51,14.8961,-24.4956,72.18,79,57,6.35
22,22,Kirakira,SB,2022-06-30 04:42:52,-10.4544,161.9205,83.16,77,28,13.33
23,23,Ornskoldsvik,SE,2022-06-30 04:41:14,63.2909,18.7153,70.75,83,66,3.44
25,25,Saint Cloud,US,2022-06-30 04:39:10,45.5608,-94.1625,84.87,46,0,14.97

In [16]:
#check for null values
preferred_cities_df.count()

City_ID       240
City          240
Country       239
Date          240
Lat           240
Lng           240
Max Temp      240
Humidity      240
Cloudiness    240
Wind Speed    240
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City","Country","Max Temp","Lat","Lng"]].copy()
hotel_df["Hotel Name"]= ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0         Carnarvon      AU     70.23 -24.8667  113.6333
2             Vaini      TO     80.76 -21.2000 -175.2000
7    Guerrero Negro      MX     71.06  27.9769 -114.0611
9             Erzin      TR     77.67  36.9559   36.2000
14             Mana      GF     72.32   5.6592  -53.7767
17  Arraial Do Cabo      BR     70.52 -22.9661  -42.0278
19       Sao Filipe      CV     72.18  14.8961  -24.4956
22         Kirakira      SB     83.16 -10.4544  161.9205
23     Ornskoldsvik      SE     70.75  63.2909   18.7153
25      Saint Cloud      US     84.87  45.5608  -94.1625

In [18]:
#set parameters to seach for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():

    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
    # Grab the first hotel from the results and store the name.

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [ ]:
hotel_df.head(10)

In [ ]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

In [ ]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig