## Deliverable 3. Create a Travel Itinerary Map.

In [148]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [149]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
clean_hotel_df =pd.DataFrame(vacation_df)
clean_hotel_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Albany,US,84.45,scattered clouds,42.60,-73.97,NaN
1,2,Kavieng,PG,81.68,light rain,-2.57,150.80,Nusa Island Retreat
2,5,Cayenne,GF,81.09,clear sky,4.93,-52.33,Hôtel Le Dronmi
3,7,Atuona,PF,76.71,clear sky,-9.80,-139.03,Villa Enata
4,10,Tabou,CI,77.16,overcast clouds,4.42,-7.35,hotêl doufoulougou
...,...,...,...,...,...,...,...,...
195,698,Mangrol,IN,83.53,overcast clouds,21.12,70.12,Hotel The Royal Honours
196,707,Mongo,TD,79.20,broken clouds,12.18,18.69,البيت مونقو
197,708,Fairbanks,US,77.59,smoke,64.84,-147.72,Westmark Fairbanks Hotel & Conference Center
198,710,Axim,GH,75.96,overcast clouds,4.87,-2.24,Axim Beach Resort And Spa
199,714,Padampur,IN,83.32,overcast clouds,29.68,73.62,Platinum resort

In [241]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd><dt><dd>and</dt></dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [151]:
locations

       Lat     Lng
0    42.60  -73.97
1    -2.57  150.80
2     4.93  -52.33
3    -9.80 -139.03
4     4.42   -7.35
..     ...     ...
195  21.12   70.12
196  12.18   18.69
197  64.84 -147.72
198   4.87   -2.24
199  29.68   73.62

[200 rows x 2 columns]

In [244]:
# 4a. Add a marker layer for each city to the map.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [157]:
#vacation_start = vacation_df.loc[vacation_df["City"] == "Tabou"]

In [158]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Tabou"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Tabou"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Harper"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Buchanan"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Kita"]

In [206]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy()
end = vacation_end[["Lat","Lng"]].to_numpy()
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()

In [258]:
#lats-longs
Tabou = (start[0,0],start[0,1])
Harper = (stop1[0,0],stop1[0,1])
Buchanan = (stop2[0,0],stop2[0,1])
Kita = (stop3[0,0],stop3[0,1])

In [259]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
trip = gmaps.directions_layer(Tabou,Tabou,waypoints=[Harper,Buchanan,Kita],travel_mode="DRIVING")
fig.add_layer(trip)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

#show map
fig

Figure(layout=FigureLayout(height='420px'))

In [233]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,10,Tabou,CI,77.16,overcast clouds,4.42,-7.35,hotêl doufoulougou
1,492,Harper,LR,76.95,overcast clouds,4.38,-7.72,Screensaver
2,349,Buchanan,LR,76.82,light rain,5.88,-10.05,Kamaneahn Hotel Inc
3,518,Kita,ML,75.02,overcast clouds,13.03,-9.49,Kouyou

In [251]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd><dt><dd>and</dt></dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [257]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))